# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# phpMyAdmin Configuration
PMA_HOST=db-mysql
PMA_PORT=3306
PMA_USER=
PMA_PASSWORD=

# Ports
MYSQL_PORT_EXTERNAL=3307
PHPMYADMIN_PORT_EXTERNAL=8080